@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);
/* body, table, div, p{ font-family: ‘Roboto’, ‘Spoqa Han Sans’, ‘Spoqa Han Sans JP’, ‘Sans-serif’; } */

/* @font-face {
    font-family: 'NanumBarunGothic';
    src: url('src/main/webapp/font/NanumBarunGothic.eot');
         url('src/main/webapp/font/NanumBarunGothic.woff') format('woff'),
         url('src/main/webapp/font/NanumBarunGothic.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
} */

* { padding: 0; margin: 0; 
	/* font-family: 'Nanum Gothic Coding', serif;  */
	font-family: 'Spoqa Han Sans', serif;
	font-size: 13px;
	transition: all 0.3s ease;}
html, body { width: 100%;}
li { list-style: none; }
a { text-decoration: none; }
/* 컨텐츠 전체 규격 ( Content total size ) */
.totalView {
    width: 1100px;
    text-align: center;
    margin: auto;
    position: relative;
    height: calc(100% - 135px);
}
footer {
	position: absolute;
    text-align: center;
    font-size: 14px;
    margin: auto;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
    max-height: 148px;
}

.loading_wrap {
    padding: 32vh 44%;
    width: 100px;
    height: 100px;
    border: 0px solid;
    box-shadow: white 0 0 0 0;
}
.loading_wrap > img {
	width: 100px;
}