@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('src/main/webapp/font/NanumBarunGothic.eot');
         url('src/main/webapp/font/NanumBarunGothic.woff') format('woff'),
         url('src/main/webapp/font/NanumBarunGothic.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

* { padding: 0; margin: 0; 
	font-family: 'Nanum Gothic Coding', serif; 
	/* font-family: 'NanumBarunGothic', serif; */
	font-size: 13px;
	transition: all 0.3s ease;}
html, body { width: 100%;}
li { list-style: none; }
a { text-decoration: none; }
/* 컨텐츠 전체 규격 ( Content total size ) */
.totalView {
    width: 1100px;
    text-align: center;
    margin: auto;
    position: relative;
    height: calc(100% - 135px);
}
footer {
	position: absolute;
    text-align: center;
    font-size: 14px;
    margin: auto;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
    max-height: 148px;
}


/*메인(사이드바) 블록*/
.sideMenu {
	float: left;
    width: 275px;
    position: relative;
    height: calc(94vh - 135px);
}

