@charset "UTF-8";

#menu_btn {
	cursor: pointer;
}

.menu .hide {
	display: none;
}

.menu #menu_btn {
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #002130;
    font-size: 20px;
    padding: 20px;
}

.hide li {
	text-align: center;
	border: 1px solid #fff;
	background-color: #e5e5e5;
	padding: 20px;
}

.menu ul a {
	color: #00938e;
}