.totalView {
	padding-top: 50px;
	width: 1000px;
	text-align: center;
	height: 600px;
}

.imageBox {
	z-index: 10;
    width: 100%;
    height: 55vh;
    border:1px solid none;
}

#mainSize {
	margin-left: 100px;
	width: 900px;
	height: 600px;
	float: center;
	margin-top:100px;
	text-align:center;
}

#asideSize {
	width: 850px;
	float: center;
	margin-left: 50px;
	text-align:center;
	padding-left:97px;
	margin-top:30px;
}


#articleNoticeListForm {
	width: 300px;
	height: 60px;
	text-align: center;
	font-size: 32px;
	color: #006c69;
}

#articleNoticeListTable {
	width: 900px;
	text-align: center;
	margin-top: 20px;
}

#fontsize_no td {
	font-size: 20px;
	font-weight: bold;
}

#articleNoticeListTable td {
	border-bottom: 1px solid #16bab4;
	height: 45px;
	font-size: 15px;
}
#centerInfo {
	margin: 20px;
	width: 240px;
	height: 350px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #006c69;
}

#centerInfo p {
	margin-top: 10px;
}

#centerInfo>h4 {
	width: 200px;
	padding-left: 10px;
	padding-top: 10px;
}

#noticeBtn {
	color: #086A87;
	border: 2px solid #F2F2F2;
	background-color:#A9D0F5;
	border-radius: 5px;
	width: 200px;
	height: 45px;
	letter-spacing: normal;
	text-align: center;
	margin-left: 45px;
	margin-bottom: 10px;
	line-height: 45px;
	float:left;
}

#noticeBtn a {
	color: #086A87;
	font-weight: 500;
	font-size:16px;
}

#inquireBtn {
	color: #086A87;
	border: 2px solid #F2F2F2;
	background-color:#A9D0F5;
	border-radius: 5px;
	width: 200px;
	height: 45px;
	letter-spacing: normal;
	text-align: center;
	margin-left: 45px;
	margin-bottom: 10px;
	line-height: 45px;
	float:left;
}

#inquireBtn a {
	color: #086A87;
	font-weight: 500;
	font-size:16px;
}

#faqBtn {
	color: #086A87;
    border: 2px solid #F2F2F2;
    background-color:#A9D0F5;
	border-radius: 5px;
	width: 200px;
	height: 45px;
	letter-spacing: normal;
	text-align: center;
	margin-left: 45px;
	margin-bottom: 10px;
	line-height: 45px;
	float:left;
}

#faqBtn a {
	color: #086A87;
	font-weight: 500;
	font-size:16px;
}

.centered1 {
	width:10%;
}

.centered2 {
	width:30%;
}

.centered3 {
	width:15%;
}

.centered4 {
	width:10%;
}