@charset "UTF-8";
a:link {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:black;
}

.imageBox {
	width: 100%;
    height: 46vh;
    border:1px solid none;
}

.gowith_list_main_photo {
	z-index: 10;
    width: 100%;
    height: 60vh;
    position: absolute;
    margin-top: -125px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.totalView {
	padding-top: 5px;
	width:1000px;
	height:700px;
	text-align:center;
	margin:0 auto;
}

.mainSize {
	margin-left:100px;
	width:900px;
	height:700px;
	float:left;
	text-align:center;
}

table,colgroup,tr {
	border-style:solid;
	border-color:#F2F2F2;
	border-width:3px;
	width:900px;
	height:50px;
	font-family: inherit;
}

th{
	border-style:solid;
	border-color:gray;
}
table {
	margin-left:100px;
}

h1 {
	text-align:center;
	height:50px;
    font-size: 32px;
}

.list_info {
	font-size:14px;
}


.gowith_write_btn {
	border:1px solid gray;
	background-color:#8181F7;
	border-radius:10px;
	width:200px;
	height:40px;
    margin-left:780px;
    text-align:center;
}

.gowith_write_btn span {
	color:white;
	line-height: 42px;
}


