@charset "UTF-8";
.imageBox {
    width: 100%;
    height: 55vh;
    border:1px solid none;
}

.gowith_info__main_photo {
	z-index: 10;
    width: 100%;
    height: 77vh;
    position: absolute;
    margin-top: -22vh;
}

.totalView {
	padding-top: 5px;
	width:1000px;
	text-align:center;
	margin:0 auto;
}

.mainSize {
	width:900px;
	float:left;
	text-align:center;
}

table,thead,tr {
	border-style:solid;
	border-color:#F2F2F2;
	border-width:3px;
	width:900px;
	height:50px;
	font-family: inherit;
}

th{
	border-style:solid;
	border-color:#F2F2F2;
}
table {
	margin-left:100px;
}

h1 {
	text-align:center;
	height:50px;
    font-size: 32px;
}

span {
	text-decoration: none;
	color:black;
	font-size:10px;
}
.gowith_info_btn {
	text-align:center;
	width:600px;
	float:center;
	margin-left:80px;
}
.gowith_go {
	float:left;
	padding-left:20px;
	width:30px;
}

.commentbox {
	width:900px;
	text-align:center;
	margin-left:100px;
}
.commentbox>textarea {
	margin-top:20px;
	width:900px;
	resize: none;
}



