@charset "UTF-8";

span {
	color: #858484;
}

/* 레이어 로그인 DIV 부분 */
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#close_li {
	width: 50px;
}

#close {
	border: none;
	outline: none;
	background-color: #e7e7e7;
	cursor: pointer;
}

#close_size {
	font-size: 30px;
}

#logincenter {
	text-align: center;
	margin: auto;
	width: 600px;
}

.flatbtn {
	background-color: #FFFFFF;
	border: none;
	font-size: 12px;
	outline: none;
	cursor: pointer;
}

/* ================회원 아이디 리스트================ */

#id_auto input {
	width: 20px;
}

/* 회원 아이디 저장 여부 */
#id_auto {
	padding-top: 14px;
	text-align: center;
	color: #858484;
}
