@charset "UTF-8";


#hd {
   width:1400px;
   margin:0 auto;
   margin-top:200px;
   height:200px;
   /* position:fixed; */
   line-height:50px;
   border:3px solid #FAFAFA;
   background-color:white;
   border-top-color:white;
   border-left-color:white;
   border-right-color:white;
    z-index:1;
}

#gnb {
   position:absolute;
   float:left;
   top:20px;
   width:1200px;
   height:38px;
   line-height:45px;
   margin:0 auto;
   margin-top:520px;
   margin-left:160px;
   padding-left:40px;
   text-align:center;
}

#gnb ul li {
   float:left;
   width:160px;
   color:black;
   text-align:center;
   border:1px solid #BDBDBD;
   /* border-left-color:beige; */
   border-radius:10px;
   margin-left:6px;
}

#gnb ul li a {
   color:#424242;
   font-weight:bold;
   display:block;
}

#gnb ul li a:hover {
   color:black;
}

#gnb ul li dl.dropdown {
   background:white;
   display:none;
    width:1000px;
    height:100px;
     margin:0 auto;
   margin-left:-840px;
   padding-top:5px;
   border:1px solid #BDBDBD;
   /* opacity:0.9; */
   text-align:center;
   background-color:#00BFFF;
}

#gnb ul li dl.dropdown dd  {
   height:100px;
   width:1000px;
   line-height:38px;
   margin-left:-2px;
   text-align:center;
   padding-left:23px;
    background-color:white;
}

#gnb ul li dl.dropdown dd span {
   font-size:10px;
   display:block;
   width:60px;
   text-align:center;
   padding-left:45px;
}

#gnb ul li dl.dropdown a {
   color:#333;
   padding: 20 35px;
   float:left;
   width:150px;
}

#gnb ul li dl.dropdown a:hover {
   background:#ccc;
   z-index:1;
}

#gnb ul li.menu6:hover .dropdown {
   display:block;
}

.flag  {
   width :50px;
}

#friendkakao {
   height:90px;
   border:1px solid none;
   background-color:#FFF100;
}

#friendkakao>span {
   font-size:18px;
   font-weight: bold;
   color:black;
}

.serviceq {
   width: 1600px;
   margin-left: 20px;
   margin: 0 auto;
   padding-top: 50px;
   text-align: center;
}